.env
node_modules
public/scripts/users/users.xlsx
public/scripts/users/teachers.xlsx
public/scripts/users/deleteUsers
public/tables/*.xlsx
config/configs.js
public/logs/*.log
public/processes/*
public/media/newsImages/*
public/media/codeFiles/*
*.pyc
public/checker/pascalCompiler
public/checker/pypyCompiler
public/checker/pythonCompiler
package-lock.json