<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#129315;&#128073;&#128061;</title>
    <style type="text/css"> span {   font-size: 300px; } svg{     box-shadow: 0 0 15px black; } html{     background-color: whitesmoke; }</style>
</head>
<body>
    <span>&#129315;&#128073;</span>
    <svg width="450" height="300">
<g><rect style="opacity:1;fill:#0000ff;stroke-width:2.03747;stroke-linecap:round" id="rect10" width="450" height="150" x="0" y="0" ry="0" /><rect style="opacity:0.999;fill:#ffff00;stroke-width:2.03747;stroke-linecap:round" id="rect10-3" width="450" height="150" x="0" y="150" ry="0" /></g></svg>

</body>
</html>