<!DOCTYPE html>
<html>
    <head>
        <title>О проекте</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        </head>
    <body>
        <main>
            <div id="Acronim-container">
                <img id="Acronim" src="/public/media/AboutProject.svg">
            </div>
        <div class="about">
            <h3 class="h3">Данная страница содержит информацию о проекте тестирующей системы "ACCEPT"</h3>
            <p>"ACCEPT" (ACCEPT is Controlled Contraption for Education & Program Testing) - некомерческий проект, созданный специально для Вятского Многопрофильного Лицея города Вятские Поляны.
            Проект может распространятся свободно в любых некоммерческих целях. Мы не защищаем проект авторским правом, но надеемся, что вы всё-таки
            упомянёте авторов при использовании системы. Модификации существующей системы приветствуется.</p>
            <p>Необходимость в автоматической тестирующей системе для Вятского Многопрофильного Лицея возникла уже давно,
            но все попытки создать её упирались в сложность реализации.</p>
            <p>20 декабря 2020 года <span id="highlighting">dsomni </span> и <span id="highlighting">Melaveetha</span>,
            авторы проекта, собрались, чтобы во что бы то ни стало создать тестирующей систему. Так и началась работа над
            проектом.</p>
            <p>В ходе работы мы столкнулись со множеством технических трудностей. До этого ни один из нас не занимался
            веб-разработкой, поэтому приходилось учиться на ходу. Тем не менее, раз уж вы читаете этот текст, все трудности
            были преодолены и работа успешно завершилась. Поэтому запомните - если будет желание, у вас получится
            сделать всё (конечно в рамках законов физики и Российского законодательства).</p>
            <p>Но если говорить серьёзно, мы, авторы этого проекта, надеемся, что эта тестирующая система поможет
            развить у учеников интерес к программированию. Или даже вдохновит на создание собственного небольшого проекта.</p>
            <p>В данный момент система <span id="highlighting">поддерживается разработчиками</span></p>

            <h3 class="h3">Контакты</h3>
            <p>Обо всех ошибках и багах в работе системы сообщать на почту <span id="highlighting">pro100pro10010@gmail.com</span>
            Все вопросы и предложения о работе и улучшении системы присылайте туда же с соответсвующей пометкой.</p>
            <p>Поддержать авторов проекта: <span id="highlighting">5469 2700 1226 6476</span> Сбербанк</p>

            <h3 class="h3">История изменений (для любознательных)</h3>
            <p><span id="highlighting">[20.12<a href="/egg1">.</a>2020]</span> Начало работы над проектом</p>
            <p><span id="highlighting">[21.12<a href="/MazeByMalveetha&Dsomni">.</a>2020]</span></a> Добавление первой версии чекера тестов</p>
            <p><span id="highlighting">[22.12.2020]</span> Начало использования баз данных</p>
            <p><span id="highlighting">[28.12.2020]</span> Добавлено поле авторизации</p>
            <p><span id="highlighting">[02.01.2021]</span> Появилась возможность добавлять задачи</p>
            <p><span id="highlighting">[03.01.2021]</span> Работа со стилем</p>
            <p><span id="highlighting">[04.01.2021]</span> Добавлен список задач</p>
            <p><span id="highlighting">[06.01.2021]</span> Появилась возможность редактировать задачи</p>
            <p><span id="highlighting">[07.01.2021]</span> Появилась возможность удалять задачи</p>
            <p><span id="highlighting">[09.01.2021]</span> Добавлен личный кабинет пользователя</p>
            <p><span id="highlighting">[11.01.2021]</span> Полная переработка чекера. Checker v2.0</p>
            <p><span id="highlighting">[13.01.2021]</span> Добавлены уроки. Добавлена система взаимодействия учитель-ученик</p>
            <p><span id="highlighting">[14.01.2021]</span> Добавлены новости</p>
            <p><span id="highlighting">[15.01.2021]</span> Исправлены серьёзные баги</p>
            <p><span id="highlighting">[16.01.2021]</span> Усовершенствование парсера для Checker v2.0</p>
            <p><span id="highlighting">[17.01.2021]</span> Реструктуризация кода</p>
            <p><span id="highlighting">[18.01.2021]</span> Обновлены скрипты. Добавлены пасхалки</p>
            <p><span id="highlighting">[19.01<a href="/emojiegg">.</a>2021]</span> Добавлено деление учеников на группы. Появились всплывающие окна</p>
            <p><span id="highlighting">[20.01<a href="/patrikegg">.</a>2021]</span> Исправлен баг связанный с удалением задач и уроков</p>
            <p><span id="highlighting">[21.01.2021]</span> Полная переработка чекера. Checker v3.0</p>
            <p><span id="highlighting">[22.01.2021]</span> Исправлены баги связанные с удалением задач и работой чекера</p>
            <p><span id="highlighting">[23.01.2021]</span> Добавлены подсказки</p>
            <p><span id="highlighting">[25.01<a href="/beee">.</a>2021]</span> Добавлен чекер для языка Python. Checker v3.1 (current) </p>
            <p><span id="highlighting">[06.03.2021]</span> Замена шапки сайта на боковую панель </p>
            <p><span id="highlighting">[07.03.2021]</span> Ребрендинг </p>
            <p><span id="highlighting">[08.03.2021]</span> Добавлен черновой вариант турниров </p>
            <p><span id="highlighting">[14.03.2021]</span> Добавлено хэширование паролей. Возможность сдачи задач в турнирах </p>
            <p><span id="highlighting">[22.03.2021]</span> Добавлен ленивый поиск </p>
            <p><span id="highlighting">[25.03.2021]</span> Добавлен чат в турнирах </p>
            <p><span id="highlighting">[27.03.2021]</span> Добавлена страница результатов турнира. Добавлен таймер </p>
            <p><span id="highlighting">[29.03.2021]</span> Исправлены баги, связанные с туринирами и правами доступа </p>
            <p><span id="highlighting">[30.03.2021]</span> Исправлены баги в чекере </p>
            <p><span id="highlighting">[31.03.2021]</span> Добавлены компиляторы для Java, C++ и Pypy </p>
            <p><span id="highlighting">[10.04.2021]</span> Ренейминг страниц. Добавлен поиск по автору задачи </p>
            <p><span id="highlighting">[11.04.2021]</span> Добавлены лог попыток турнира. Добавлена заморозка результатов </p>
            <p><span id="highlighting">[17.04.2021]</span> Работа со стилем. Поиск по попыткам турнира </p>
            <p><span id="highlighting">[26.04.2021]</span> Добавлена типизация турниров, штрафы за отправку и дисквалификация. Появилась регистрация </p>
            <p><span id="highlighting">[28.04.2021]</span> Добавлена возможность удаления турниров. Масштабный фикс багов </p>
            <p><span id="highlighting">[01.05.2021]</span> Исправлены ссылки, добавлены логи </p>
            <p><span id="highlighting">[02.05.2021]</span> Улучшены новости </p>
            <p><span id="highlighting">[04.05.2021]</span> Разработка получения решений файлом </p>
            <p><span id="highlighting">[13.05.2021]</span> Добавлена возможность загрузки тестов из архива </p>
            <p><span id="highlighting">[14.05.2021]</span> Добавлена страница редактирования данных пользователя </p>
            <p><span id="highlighting">[17.05.2021]</span> Улучшена страница регистрации. Исправлены серьёзные баги</p>
            <p><span id="highlighting">[22.05.2021]</span> Добавлен прямой переход по турнирным задачам. Автопроверка задач</p>
            <p><span id="highlighting">[22.05.2021]</span> Добавлена страница отправки фидбека</p>
        </div>
        </main>
    </body>
</html>