<!DOCTYPE html>
<html>
    <head>
        <title>account</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <!-- <link rel="stylesheet" href="/public/css/style.css" type="text/css"> -->
        </head>
    <body>
        <main>
        </main>
    </body>
</html>