<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        </head>
    <body>
        <main>
            <h1 class="h1">Панель управления</h1>

            <form action='/service/panel/configs'  method="POST">
                <div class="taskAdderForm" id="configform">
                </div>
            </form>
        </main>
    </body>
    <script type = text/javascript>
        document.getElementsByTagName('body')[0].removeChild(document.getElementsByTagName('header')[0]);
        document.getElementsByTagName('body')[0].removeChild(document.getElementsByTagName('button')[0]);
    </script>
    <script>
        function hideShow(id){
            let spn = document.getElementById(id);
            let arrow = document.getElementById("spn"+id).getElementsByTagName("arrow")[0];
            if(spn.style.display == "none"){
                spn.style.display = "block";
                arrow.classList.remove("right");
                arrow.classList.add("down");
            }else{
                spn.style.display = "none";
                arrow.classList.remove("down");
                arrow.classList.add("right");
            }
        }

        function construct(obj, depth){
            let txt = "";
            for (key in obj){
                if(depth == 1){
                    txt += `<span class="depth${depth}" id='spn${key}' onclick="hideShow('${key}')">${key} <arrow class="arrow right"></arrow></span>\n`;
                    txt += `<div class="hideable" id="${key}" style="display: none; width:100%;" >\n`;
                }else{
                    txt += `<span class="depth${depth}">${key}</span>\n`;
                    txt += `<div class="hideable" id="${key}" style="width:100%;" >\n`;
                }
                if (obj[key] instanceof Object && !(obj[key] instanceof Array)) {
                    txt += construct(obj[key], depth+1)
                }else{
                    txt += `<textarea class="configarea" style="margin-left:${depth-1}rem;  margin-top: -.1rem;" id="${key}" name = "${key}" cols=40  rows=3 placeholder="">${obj[key]}</textarea>`
                }
                txt += `</div>\n`
            }
            return txt;
        }
        fetch("/api/get/configs").then(response => response.json()).then(response => {
            text =  construct(response.config, 1);
            document.getElementById("configform").innerHTML = text + "\n<br></button><button>Сохранить</button>";
        }).catch(err => console.log(err));
    </script>

</html>