<link href="style.css" rel="stylesheet" type="text/css">
<form action='/' method="POST">
    <div class="container">
        <div>
            <textarea type="code" id="code" name = "code" required cols=30 rows=30 placeholder="Place code here"></textarea>
        </div>
        <button id="submit">Send</button>
        <div>
            <textarea type="tests" id="tests" name="tests" readonly>
Test #1 complite
Test #2 wrong answer
            </textarea>
        </div>
    </div>
</form>