<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/style.css" type="text/css">
        </head>
    <body>

        <%- include ('blocks/navigation.ejs') -%>

        <h1>Login</h1>
        <% if (messages.error) { %>
          <%= messages.error %>
        <% } %>
        <form action="/login" method="POST">
          <div>
            <label for="login">login</label>
            <input type="login" id="login" name="login" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Login</button>
        </form>

    </body>
</html>