<!DOCTYPE html>
<html>
    <head>
        <title>Результаты турнира</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Результаты турнира <%= tournament.title %></h1>
            <table class='taskslist' id="table"></table>
        </main>
    <script>
        let min = (a, b) => {if(a>b)return b;return a;};
        function update() {
            fetch("/api/tournament/get/results/<%= tournament.identificator %>").then(response=>response.json()).then(response => {
                let text = "<tr>\n<th>LOGIN</th>\n";
                let results = response;
                for (let i = 0; i < results[0].tasks.length; i++) {
                    text+=`<th><a class="tlrefs" href="/tournament/task/page/<%= tournament.identificator %>/<%= tournament.identificator %>_${i}">${i+1}</a></th>`;
                }
                text+="\n<th>Счёт</th>\n<th>Время</th>\n";
                results.sort((a, b) => {
                    if ((a.sumscore > b.sumscore)||((a.sumscore==b.sumscore)&&(a.sumtime<b.sumtime)))
                        return -1;
                    else
                        return 1;
                });
                let result;
                for (let i = 0; i < results.length; i++) {
                    result = results[i];
                    text+="<tr>\n";
                    console.log(result[1]);
                    if(result[1]){
                        let loginToShow = result.login;
                        if(loginToShow.length > 2 && loginToShow.slice(0,2)=="n-"){
                                loginToShow = loginToShow.slice(2);
                        }
                        text+=`<td><a class="tlrefs" href="/account/${result.login}/1/default&all">${loginToShow}</a></td>\n`;
                        for(let j=0; j<result.tasks.length;j++){
                            let task = result.tasks[j];
                            text+=`<td>${task.score}(${task.tries})</td>`
                        }
                        text+=`<td>${result.sumscore}</td>\n<td>${result.sumtime}</td>\n`;
                    }
                    text+="</tr>\n"
                }
                resultsarea.innerHTML = text+"</tr>\n";
            }).catch(err => console.log(err));
        }
        let resultsarea = document.getElementById("table");
        update();
        setInterval(() => {
            update();
        }, 5000);
    </script>
</html>