/*-----------------------------------------------------------------------------*/
/*Global*/
*{
    --main-bg-color: #87ceeb;
    --header-color: #fff;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--main-bg-color);
    min-width: 1000px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--header-color);
}
::-webkit-scrollbar-thumb {
    background-color: #888888;
}
main{
    margin-left: 65px;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    cursor: default;
}
h3{
    color: #4e4e4e;
    margin: 5px;
}

h4{
    color: #4e4e4e;
    margin: 5px;
    margin-left: 15px;
    font-size: small;
}
textarea::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
ul{
    list-style: none;
}


/*-----------------------------------------------------------------------------*/
/*Header*/
header::-webkit-scrollbar{
    width: 2px;
}
header{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--header-color);
    height: 100%;
    width: 65px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0px 2px #00000012;
    transition: ease-in-out .4s;
}
header:hover{
    width: 220px;
}
header:hover input{
    width: 180px;
}
header button{
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: all 300ms ease;
    font-size: 12pt;
    font-variant-caps: small-caps;
    font-weight: bold;
    border: none;
    outline: none;
    font-family:  sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    letter-spacing: 0.5px;
    color: #0099ff;
}
header button img{
    width: 45px;
    margin-right: 10px;
}
header button:hover{
    transform: scale(1.1);
    color: #75b5ff;
}
header input{
    width: 50px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
#Logo{
    height: 70px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*ids*/

/*-----------------------------------------------------------------------------*/
/*errors*/
#ok{
    color: green;
}

#er{
    color: red;
}

/*-----------------------------------------------------------------------------*/
/*task page*/
#submit {
    margin-top: 10px;
    width: 100%;
    height: 30px;

}
#submitdiv {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#result{
    width: 304px;
    height: 354px;
    overflow: scroll;
    font-size: large;
}
#taskname{
    text-align: center;
}

#examples{
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 640px;
    font-size: medium;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
}
#task{
    background-color: #e4e1e1aa;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}
#task h4{
    margin-left: -10%;
    text-align: center;
    white-space: pre-wrap;
    font-size:medium;
}
#code{
    white-space: pre-wrap;
}
#HintButton{
    border: none;
    width: 100%;
    font-size: large;
    color: black;
    background-color: #fafafaaa;
    font-size: 14px;
    padding: 5px;
    box-shadow: 0 0 3px gray;
}
#HintButton:hover{
    box-shadow: 0 0 8px #aaaaff;
}
#languageSelector{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
/*-----------------------------------------------------------------------------*/
/*Lesson page*/
#editref{
    text-decoration: none;
    font-size: medium;
    color: #000000;
    margin-left: 10px;
}

#editref:hover{
    text-decoration: underline;
    color: #0422a7;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------*/
/*editlesson page*/
#grade{
    width: 40px;
    font-size: medium;
}
/*-----------------------------------------------------------------------------*/
/*Students page*/
#gradeLetter{
    width: 50px;
}

#group_number{
    width: 20px;
    border: none;

}
#change_groupeBtn{
    display: inline;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*classes*/

.lessonPopup dialog{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: 100;
}

.lessonPopup .show{
    border: none;
    outline: none;
    background: transparent;
    font-size: 12pt;
    font-weight: 200;
}

.lessonPopup .show:hover{
    cursor: pointer;
    color: #2d2aee;
    text-decoration: underline;
}
.lessonPopup .show:active{
    outline: none;
}



/*-----------------------------------------------------------------------------*/
/*task page*/
.statement{
    text-indent: 15px;
    line-height: 25px;
    text-align: justify;
    padding: 20px 30px 20px 30px;
    white-space: pre-wrap;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}
.imgs img{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -6px;
    width: 304px;
}
.imgsbottom img{
    display: inline-block;
    margin-left: 10px;
    margin-top: -1px;
    width: 304px;
}
.taskarea{
    vertical-align: top;
    background-color: transparent;
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-left: 10px;
    border: none;
    resize: none;
    margin-top: 0px;
    background-color: white;
    font-size: large;
}
.taskarea:focus{
    outline: none;
}
.taskarea div{
    overflow: scroll;
}

.taskPopup dialog{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: 100;
}

.taskPopup .show{
    border: none;
    outline: none;
    background: transparent;
    font-size: 12pt;
    font-weight: 200;
}

.taskPopup .show:hover{
    cursor: pointer;
    color: #2d2aee;
    text-decoration: underline;
}
.taskPopup .show:active{
    outline: none;
}

/*-----------------------------------------------------------------------------*/
/*tasks page*/
.taskslist {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    width: 70%;
}
.taskslist th {
    border-top: 1px solid #6695fa;
    border-bottom: 1px solid #6695fa;
    background: #83aaff;
    color: white;
    padding: 10px 15px;
}
.taskslist tr:nth-child(odd) {
    background: #ebf3f9;
}
.taskslist td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    transition: all 0.5s ease;
}
.tlrefs{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.tlrefs:hover{
    cursor: pointer;
    color: #220bf3;
    text-decoration: underline;
}
.addhref{
    margin-left: 120px;
    margin-bottom: 20px;
}
.pageinfo {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
/*-----------------------------------------------------------------------------*/
/*Header*/
#outer{
    width: 100%;
    min-height: 600px;
    height: 100%;
    position: relative;
}
.navigationButtons{
   position: absolute;
   top: 0px;
    margin-top: 20px;
    white-space: nowrap;
}
.loginInterface{
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    white-space: nowrap;
}
.loginInterface input{
    display: block;
}
.loginInterface button{
    margin-left: -5px;
}
.loginInterface img{
    width: 45px;
}

/*-----------------------------------------------------------------------------*/
/*main page*/
.news{
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 1px;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
    resize: none;
    background-color: #ffffffa6;
    font-size: 600;
}
.date{
    font-weight: bold;
}
.newsPopup dialog{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
}

.newsPopup .show{
    border: none;
    outline: none;
    background: transparent;
    font-size: 11pt;
}

.newsPopup .show:hover{
    cursor: pointer;
    color: #2d2aee;
    text-decoration: underline;
}
.newsPopup .show:active{
    outline: none;
}


/*-----------------------------------------------------------------------------*/
/*Students page*/
.tablerefs{
    color: #000000;
    font-size: large;
    text-decoration: none;
}
.tablerefs:hover{
    color: #5071df;
    cursor: pointer;
    text-decoration: underline;
}

.group dialog{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
}

.group .show{
    border: none;
    outline: none;
    background: transparent;
    font-size: 13pt;
}

.group .show:hover{
    cursor: pointer;
    color: #2d2aee;
}
.group .show:active{
    outline: none;
}

.group input{
    border: 1px solid #000000;
    outline: none;
    width: 50px;
}

/*-----------------------------------------------------------------------------*/
/*Task adder page*/
.taskAdderForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 47vw;
    padding-left: 2vw;
    font-size: 15pt;
    font-weight: 600;
}
.taskAdderForm button{
    height: 50px;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}
.taskAdderForm button:hover{
    background-color: #d4d3d3;
}
.taskAdderForm textarea{
    border-radius: 1px;
    border-color: #000000;
    outline: none;
    background-color: var(--header-color);
    margin: 5px;
    font-size: 12pt;
}
.taskAdderForm ::placeholder{
    color: #000000aa;
}

/*-----------------------------------------------------------------------------*/
/*lessons adder page*/
.lessonAdderForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 22pt;
    font-weight: 600;
}
.lessonAdderForm button{
    height: 50px;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}
.lessonAdderForm button:hover{
    background-color: #d4d3d3;
}
.lessonAdderForm textarea{
    border-radius: 1px;
    border-color: #000000;
    outline: none;
    background-color: var(--header-color);
    margin: 10px;
    font-size: 20pt;
}
.lessonAdderForm ::placeholder{
    color: #000000aa;
}

/*-----------------------------------------------------------------------------*/
/*about page*/
.about{
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 1px;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
    resize: none;
    background-color: #ffffffa6;
    font-size: larger;
}
.about a{
    text-decoration: none;
    color: #000000;
}
#highlighting{
    font-weight: bold;
}
/*-----------------------------------------------------------------------------*/
.SearchUI{
    margin: 20px;
    margin-left: 120px;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
    gap: 2px;
}
#Acronim-container{
    width: 100%;
    text-align: center;
}
#Acronim{
    width: 50%;
}
.student_info{
    margin-left: 120px;
}