<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,W
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        </head>
    <body>
        <main>
            <h1 class="h1">Configs</h1>

            <form action='/service/panel/CONFIGS'  method="POST" style="width: 60ch;">
                <div id="configform" style="background-color: rgba(250, 235, 215, 0.274); width:100%; display:flex; flex-direction: column;"></div>
            </form>
        </main>
    </body>
    <script>
        function hideShow(id){
            let spn = document.getElementById(id);
            let arrow = document.getElementById("spn"+id).getElementsByTagName("arrow")[0];
            if(spn.style.display == "none"){
                spn.style.display = "flex";
                arrow.classList.remove("right");
                arrow.classList.add("down");
            }else{
                spn.style.display = "none";
                arrow.classList.remove("down");
                arrow.classList.add("right");
            }
        }

        function construct(obj, depth){
            let txt = "";
            for (key in obj){
                txt += `<div style="margin-top: 1rem; margin-left: 1rem;"><span class="depth${depth}" id='spn${key}' onclick="hideShow('${key}')">${key} <arrow class="arrow right" style="padding: ${5-depth}px;"></arrow></span>\n`;
                txt += `<div class="hideable" id="${key}" style="display: none; flex-direction:column; width:100%;" >\n`;
                if (obj[key] instanceof Object && !(obj[key] instanceof Array)) {
                    txt += construct(obj[key], depth+1)
                }else{
                    txt += `<textarea class="configarea" style="margin-left:${depth-1}rem; width:calc(${obj[key].toString().length}ch + 20px)" id="${key}" name = "${key}"  rows=1 placeholder="">${obj[key]}</textarea>`
                }
                txt += `</div></div>\n`
            }
            return txt;
        }
        fetch("/api/get/configs").then(response => response.json()).then(response => {
            text =  construct(response.config, 1);
            document.getElementById("configform").innerHTML = text + "\n<br></button><button class='SaveChanges' style='margin-top: 5rem' title='Изменения влекут перезапуск' >Сохранить</button>";
        }).catch(err => console.log(err));
    </script>

</html>