<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="../../public/media/LogoSep.svg" />
    <head>
        <title>Руководство Администратора</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
      </head>
      <style>
        body{
          background-color: #87ceeb;
        }
        ol {
          list-style-type: none;
          counter-reset: item;
          display: table;
          padding-top: 10px;
          min-width: 75ch;
        }
        li{
          padding-bottom: 10px;
        }

        ol > li:before {
          counter-increment: item;
          content: counter(item);
          margin-right: 5px;
          font-size: 80%;
          background-color: #0066ec;
          color: #87ceeb;
          font-weight: bold;
          padding: 3px 8px;
          border-radius: 3px;
        }

        .left-1{
          padding-left: 1rem;
        }
        main{
          margin-left: auto;
          margin-right: auto;
          width: 60%;
          margin-bottom: 5rem;
        }
        z{
          padding: 5px;
          color: white;
          background-color: #250b3a;
          font-size: 0.9rem;
          white-space: nowrap;
        }

      </style>
    <body>
        <main>
          <h1 class="h1">Быстрый старт</h1>
          <div class="left-1">
            Требуемый софт: MongoDB и NodeJS.<br>
            Операционная система: Windows.
          </div>
          <ol>
            <li>Распакуйте архив с системой в отдельную папку или склонируйте репозитрой командой <z>git clone https://github.com/dsomni/TestSystem.git</z></li>
            <li>Создайте пустую папку (НЕ в папке с системой!) "data" и в ней ещё одну - "db". Здесь будет храниться база данных.</li>
            <li>Создайте пустую папку "data" и в ней ещё одну - "db". Здесь будет храниться база данных.</li>
            <li>Установка компиляторов
              <ul>
                <li>Установите интерпритаторы <a href="https://www.python.org/downloads/windows/">Python3</a> и <a href="https://www.pypy.org/download.html">Pypy</a> папки public/checker/pythonCompiler и public/checker/pypyCompiler соответственно</li>
                <li>Установите компилятор <a href="http://pascalabc.net/ssyilki-dlya-skachivaniya">PascalABC</a>(необходима консольная версия) в папку public/checker/pascalCompiler</li>
                <li>Так же установите в систему компиляторы c++ и java доступные по ссылкам: <a href = "http://www.equation.com/servlet/equation.cmd?fa=fortran">C++</a> и <a href = "https://www.oracle.com/java/technologies/javase-jdk16-downloads.html">Java</a>(перед установкой java удалите все старые версии)</li>
              </ul>
            </li>
            <li>Перейдите в папку с системой. Вызовите команду <z>npm i</z> или <z>npm install</z> и дождиесь установки модулей</li>
            <li>Оставаясь в этой же папке запустите команду <z>npm run addAdmin</z> которая добавит пользователя с логином и паролем admin, который имеет доступ к панели управления</li>
            <li>Вызовите команду <z>npm run configurate</z>. Настройте чекер, отвечая на вопросы (подробная информация представлена ниже). На вопрос "Path to DB folder: ",
            укажите полный путь к папке из пункта 2</li>
            <li>Перед запуском системы, убедитесь, что база данных запущена. Или используйте <z>npm run startDB</z></li>
            <li>Для запуска системы используйте команду <z>npm run start</z></li>
          </ol>

          <h1 class="h1">Руководство администратора</h1>
          <div class="left-1">
            <h2 class="h2">Конфигурация</h2>
            Изменение этих настроек влечёт автоматический перезапуск сервера
            <div class="left-1">
              <b>sessionLiveTime</b> - промежуток времени (в минутах) после которого пользователь будет разлогинен <br>
              <b>logsLifeTime</b> - промежуток времени (в днях) после которого будут автоматически удаляться логи (public/logs) <br>
              <b>port</b> - порт на котором будет работать сервер <br>
              <b>secret</b> - набор символов для кодирования информации <br>
              <b>FolderLifeTime</b> - время жизни процесса при достижении которого папка будет автоматически удалена <br>
              <b>maxThreadsTests</b> - максимальное число тестов, которые могут быть запущены параллельно <br>
              <b>maxThreadsTasks</b> - максимальное число задач, которые могут быть запущены параллельно <br>
              <b>onPage</b> - настройки отображаемых на одной странице <br>
              <div class="left-1">
                <b>newsMainList</b> - новостей (главная старница) <br>
                <b>newsList</b> - новостей,(страница новостей) <br>
                <b>tasksList</b> - задач (список задач) <br>
                <b>lessonsList</b> - уроков (список уроков) <br>
                <b>tournamentsList</b> - турниров (список турниров) <br>
                <b>studentsList</b> - учеников (список учеников, страницы результатов урока и турнира) <br>
                <b>attemptsList</b> - попыток (страница аккаунта) <br>
              </div>
              <b>mongodbConfigs</b> - список настроек базы данных <br>
              <div class="left-1">
                <b>dbName</b> - название базы данных в которой будут хранится все данные сайта <br>
                <b>Host</b> - url на котором размещена база данных(default: localhost:27017) <br>
                <b>User</b> - параметры пользователя с правами чтения и изменения данных (пустые, если права доступа не ограничены) <br>
                <div class="left-1">
                  <b>Username</b> - имя пользователя <br>
                  <b>Password</b> - пароль пользователя <br>
                </div>
                <b>CollectionNames</b> - названия коллекций в базе данных <br>
                <div class="left-1">
                  <b>users</b> - коллекция пользователей <br>
                  <b>news</b> - коллекция новостей <br>
                  <b>tasks</b> - коллекция задач <br>
                  <b>lessons</b> - коллекция уроков (обычных) <br>
                  <b>tournaments</b> - коллекция турниров <br>
                  <b>quizzes</b> - коллекция контрольных уроков <br>
                </div>
              </div>
              <b>admins</b> - список пользователей, которые будут иметь доступ к этой панели (логины указывать через запятую) <br>
            </div>
            <h2 class="h2">Редактор пользователя</h2>
            <div class="left-1">
              <h3 class="h3">Настройка пользователя</h3>
              <div class="left-1">
                Позволяет редактировать или удалить конкретного пользователя <br>
                Отредактировать можно: Ф.И.О., пароль и класс, а так же очистить посылки <br>
              </div>
              <h3 class="h3">Добавление одного учителя</h3>
              <div class="left-1">
                Позволяет добавить одного учителя указав уникальный логин, и менее уникальные Ф.И.О. и пароль <br>
                В случае если логин занят пользователь не будет добавлен, но сообщение об этом ждать не стоит :) <br>
                В случае если учитель был добавлен так же не будет никакого сообщения :( <br>
              </div>
            </div>
            <h2 class="h2">Скрипты</h2>
            <div class="left-1">
              <h3 class="h3">Добавить учеников</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учеников с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль | Класс. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Добавить учителей</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учителей с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль. <br>
                Что бы ни было в первой строке таблицы оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Удалить пользователей</h3>
              <div class="left-1">
                Позволяет удалить произвольное кол-во пользователей(и учеников и учителей) с помощью .xlsx таблицы с единственным столбцом логинов. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Авто-настройка чекеров</h3>
              <div class="left-1">
                Конфигурирует оффсет чекеров для каждого языка программирования. <br>
                Выполнение этого скрипта займёт некоторое время и может потребовать повышенной производительности. <br>
              </div>
              <h3 class="h3">Сгенерировать результаты турнира</h3>
              <div class="left-1">
                Позволяет сгенерировать таблицу результатов конкретного турнира (на случай если таблицы сгенерированной автоматически не достаточно). <br>
                Требуется указать ID турнира; Для получения точного ID следует взглянуть на url ведущему на страницу турнира ".../tournament/page/LOGIN/<b>ID</b>"/ <br>
              </div>
            </div>
            <h2 class="h2">Процессы</h2>
            <div class="left-1">
              На этой странице отображаются очередь тестирования и тестируемые в данный момент посылки.
            </div>
          </div>
          <h1 class="h1">Структура проекта</h1>
          <div class="left-1">
            <h2 class="h2">Корневая папка</h2>
            <div class="left-1">
              <p>Корневая папка содержит файлы: server.js, package.json, package-lock.json; и папки: classes, config, public, views, node_modules(если отсутствует то появится после выполнения команды <z>npm i</z> в ходе установки).</p>
              <h3 class="h3">Файл server.js</h3>
              <p>Содержит основной серверный код</p>
              <h3 class="h3">Файл package.json</h3>
              <p>Содержит основную информацию о проекте и скрипты(необходим для nodejs)</p>
              <h3 class="h3">Файл package-lock.json</h3>
              <p>Файл создаваемый nodejs, отражает структуру проекта с точки зрения зависимостей</p>
              <h3 class="h3">Папка classes</h3>
              <p>Содержит класс User(класс который отображает пользователя программно)</p>
              <h3 class="h3">Папка config</h3>
              <p>Папка в которой хранятся настройки сервера и модели базы данных</p>
              <h3 class="h3">Папка public</h3>
              <p>Содержит временные папки, компиляторы, изображения и серверные скрипты, будет описана отдельно ниже</p>
              <h3 class="h3">Папка views</h3>
              <p>Содержит описания страниц на сайте</p>
              <h3 class="h3">Папка node_modules</h3>
              <p>Папка создаваемая nodejs, хранящая зависимости проекта</p>
            </div>
            <h2 class="h2">Папка public</h2>
            <div class="left-1">
              <h3 class="h3">Папка checker</h3>
              <p>Содержит в себе компиляторы, интерпритаторы и скрипты отвечающие за их запуск</p>
              <h3 class="h3">Папка codes</h3>
              <p>Папка в которую временно сохраняются файлы программ загруженные пользователем</p>
              <h3 class="h3">Папка css</h3>
              <p>В этой папке лежат css файлы которые отвечают за стили страниц</p>
              <h3 class="h3">Папка logs</h3>
              <p>Содержит логи сервера(в основном запросы учителей)</p>
              <h3 class="h3">Папка media</h3>
              <p>содержит изображения используемые на страницах и в боковой панели</p>
              <h3 class="h3">Папка processes</h3>
              <p>При отправке пользователем задачи именно в этой папке происходят все процессы связанные с компиляцией и тестированием задачи.</p>
              <p>В случае если задача у пользователя не отправляется следует в первую очередь проверять эту папку на наличие папки с названием *_LOGIN_TASKID , где LOGIN - логин пользователя, а TASKID - идентификатор задачи, и в случае наличия таковой её следует удалить</p>
              <h3 class="h3">Папка scripts</h3>
              <p>В этой папке хранятся все подпрограммы необходимые серверу</p>
              <h3 class="h3">Папка tables</h3>
              <p>В эту папку будут сохраняться таблицы с результатами турниров</p>
              <h3 class="h3">Папка tests</h3>
              <p>В этой папке хранятся папки и файлы с тестами отправленные учителями, через некоторое время после создания они будут удалены</p>
              <h3 class="h3">Папка userTables</h3>
              <p>В этой папке временно хранятся таблицы с пользователями загруженные через панель управления</p>
            </div>
          </div>
          <h1 class="h1">FAQ</h1>
          <div class="left-1">
            <h2 class="h2">MongoDB не запускается после установки, что делать?</h2>
            <p>Попробуйте установить заново от имени администратора. Так же перезагрузка компьютера может решить проблему.</p>
            <h2 class="h2">Команда "npm install"не работает, что делать?</h2>
            <p>Скорее всего, у вас отключен обмен пакетами с сетью, что блокирует скачивание необходимых компонентов.</p>
            <h2 class="h2">Сервер не запускается, что делать?</h2>
            <p>Прочитайте ошику в консоли: скорее всего, вы где-то ошиблись с путём. Можете написать разработчикам с приложением скриншота ошибки</p>
            <h2 class="h2">Ошибка при компиляции кода, что делать?</h2>
            <p>Попробуйте скачать компилятор с официального сайта и переустановить его.</p>
            <h2 class="h2">Случайно изменил логин ученика/учителя в users.xlsx/teachers.xlsx, что делать?</h2>
            <p>Зайдите в MongoDB Compass и явно удалите пользователя.</p>
            <h2 class="h2">Ошибки с отображением данных учеников/учитилей, что делать?</h2>
            <p>Проверьте, что логины в таблице уникальны и не содержат пробелов и кириллицы.</p>
          </div>
          <h1 class="h1">Полезные ссылки</h1>
          <div class="left-1">
            <ul>
              <li><a href="https://nodejs.org/docs/latest-v13.x/api/">Документация MongoDB</a></li>
              <li><a href="https://docs.npmjs.com/">Документация NPM</a></li>
              <li><a href="https://merrick-krg.medium.com/%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B9-%D1%82%D1%83%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB-%D0%BF%D0%BE-mongodb-ae82654387d9">Статья о работе с MongoDB</a></li>
            </ul>
          </div>
        </main>
    </body>
</html>