<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="../../public/media/LogoSep.svg" />
    <head>
        <title>Руководство Администратора</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
      </head>
      <style>
        body{
          background-color: #87ceeb;
        }
        ol {
          list-style-type: none;
          counter-reset: item;
          display: table;
          padding-top: 10px;
          min-width: 75ch;
        }
        li{
          padding-bottom: 10px;
          line-height: 1.5rem;
        }

        ol > li:before {
          counter-increment: item;
          content: counter(item);
          margin-right: 5px;
          font-size: 80%;
          background-color: #0066ec;
          color: #87ceeb;
          font-weight: bold;
          padding: 3px 8px;
          border-radius: 3px;
        }

        .left-1{
          padding-left: 1rem;
        }

        z{
          padding: 5px;
          color: white;
          background-color: #250b3a;
          font-size: 0.9rem;
          white-space: nowrap;
        }

        a{
          text-decoration: none;
          color: #0023ec;
        }
        a:active{
          text-decoration: none;
          color: #0023ec;
        }

      </style>
  <style>
    * {
      --main-bg-color: #9dd7ef;
      --sidebar-width: 30ch;

    }

    sidebar {
      padding: 1rem;
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: var(--sidebar-width);
      display: flex;
      flex-direction: column;
      background-color: azure;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    sidebar::-webkit-scrollbar{
      display: none;
    }
    main {
      position: fixed;
      overflow-y: scroll;
      top: 0px;
      left: var(--sidebar-width);
      right: 0px;
      bottom: 0px;
      background-color: var(--main-bg-color);
      text-align: justify;
      padding-left: 7.5rem;
      padding-right: 5rem;
      padding-top: 2rem;
      font-size: 1.1rem;
      padding-bottom: 5rem;
    }

    .navbar {
      text-decoration: none;
      font-size: 1.2rem;
      color: hsl(0, 0%, 28%);
      padding: 2px;
    }

    .current-link {
      /* color: rgb(54, 0, 0); */
      color: black;
      font-weight: 900;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 2px;
    }

    .navbar:hover {
      transform: scale(1.05);
      font-weight: bold;
    }

    .left-1 {
      padding-left: 1rem;
    }

    .left-2 {
      padding-left: 3rem;
    }

    .left-3 {
      padding-left: 5rem;
    }

    .navleft-1 {
      margin-top: 0.5rem;
      padding-left: 0px;
      font-size: 1.4rem;
    }

    .navleft-2 {
      padding-left: 1ch;
      font-size: 1.1rem;
    }

    .navleft-3 {
      padding-left: 2ch;
      font-size: .7rem;
    }

    .content p {
      text-indent: 1.3rem;
      padding-left: 2rem;
      padding-right: 5rem;
      font-size: 1.3rem;
    }

    .anchor:target::before {
      content: "";
      display: block;
      height: 10vh;
      margin: -10vh 0 0;
    }

    .Acronim-container {
      width: 100%;
      text-align: center;
      margin-bottom: 3rem;
    }

    .Acronim {
      width: 50%;
    }
    sup{
      font-size: .8rem;
    }
    .context{
      text-decoration: none;
      color: rgb(0, 0, 192);
      font-weight: bold;
    }
    .context:visited{
      text-decoration: none;
      color: rgb(0, 0, 192);
      font-weight: bold;
    }
    .contextAnchor:target::before{
      content: "";
      display: block;
      height: 60vh;
      margin: -60vh 0 0;
    }

  </style>

<body>
  <sidebar>
    <img src="../../public/media/Logo.svg" style="margin: 1rem; margin-bottom: 2rem;" alt="ACCEPT" height="75px">
    <a href="#QuickStart" class="navbar navleft-1">Быстрый старт</a>
    <a href="#Guide" class="navbar navleft-1">Руководство</a>
      <a href="#Configuration" class="navbar navleft-2">Конфигурация</a>
      <a href="#EditUser" class="navbar navleft-2">Редактор пользователя</a>
      <a href="#Scripts" class="navbar navleft-2">Скрипты</a>
      <a href="#Processes" class="navbar navleft-2">Процессы</a>
    <a href="#Structure" class="navbar navleft-1">Структура проекта</a>
      <a href="#Root" class="navbar navleft-2">Корневая папка</a>
      <a href="#Public" class="navbar navleft-2">Папка public</a>
    <a href="#Subprograms" class="navbar navleft-1">Системные подпрограммы</a>
    <a href="#FAQ" class="navbar navleft-1">FAQ</a>
    <a href="#References" class="navbar navleft-1">Полезные ссылки</a>
  </sidebar>



        <main>
          <div class="Acronim-container">
            <img class="Acronim"  src="../../public/media/AboutProject.svg">
          </div>
          <h1 class="h1" class="anchor" id="QuickStart">Быстрый старт</h1>
          <div class="left-1">
            Требуемый софт: MongoDB и NodeJS.<br>
            Операционная система: Windows.
          </div>
          <ol>
            <li>Распакуйте архив с системой в отдельную папку или клонируйте репозиторий командой <z>git clone https://github.com/dsomni/ACCEPT.git</z></li>
            <li>Внимательно проверьте наличие всех папок, указанных в разделе "Структура проекта". Отсутствие некоторых из них могут спровоцировать критические ошибки. </li>
            <li>Создайте пустую папку (НЕ в папке с системой!) "data" и в ней ещё одну - "db". Здесь будет храниться база данных.</li>
            <li>Установка компиляторов
              <ul>
                <li>Установите интерпретаторы <a href="https://www.python.org/downloads/windows/">Python3</a> и <a href="https://www.pypy.org/download.html">Pypy</a> папки public/checker/pythonCompiler и public/checker/pypyCompiler соответственно</li>
                <li>Установите компилятор <a href="http://pascalabc.net/ssyilki-dlya-skachivaniya">PascalABC</a> (необходима консольная версия) в папку public/checker/pascalCompiler</li>
                <li>Так же установите в систему компиляторы c++ и java доступные по ссылкам: <a href = "http://www.equation.com/servlet/equation.cmd?fa=fortran">C++</a> и <a href = "https://www.oracle.com/java/technologies/javase-jdk16-downloads.html">Java</a> (перед установкой java удалите все старые версии)</li>
              </ul>
            </li>
            <li>Перейдите в папку с системой. Вызовите команду <z>npm i</z> или <z>npm install</z> и дождитесь установки модулей</li>
            <li>В папке с системой вызовите команду <z>npm install supervisor -g</z> и дождитесь установки</li>
            <li>Оставаясь в этой же папке запустите команду <z>npm run addAdmin</z> которая добавит пользователя с логином и паролем admin, который имеет доступ к панели управления</li>
            <li>Вызовите команду <z>npm run configurate</z>. Настройте чекер, отвечая на вопросы (подробная информация представлена ниже). На вопрос "Path to DB folder: ",
            укажите полный путь к папке из пункта 2</li>
            <li>Перед запуском системы, убедитесь, что база данных запущена. Или используйте <z>npm run startDB</z></li>
            <li>Для запуска системы используйте команду <z>npm run start</z></li>
          </ol>

          <h1 class="h1" class="anchor" id="Guide">Руководство администратора</h1>
          <div class="left-1">
            <h2 class="h2" class="anchor" id="Configuration">Конфигурация</h2>
            Изменение этих настроек влечёт автоматический перезапуск сервера
            <div class="left-1">
              <b>sessionLiveTime</b> - промежуток времени (в минутах) после которого пользователь будет разлогинен <br>
              <b>logsLifeTime</b> - промежуток времени (в днях) после которого будут автоматически удаляться логи (public/logs) <br>
              <b>port</b> - порт на котором будет работать сервер <br>
              <b>secret</b> - набор символов для кодирования информации <br>
              <b>FolderLifeTime</b> - время жизни процесса при достижении которого папка будет автоматически удалена <br>
              <b>maxThreadsTests</b> - максимальное число тестов, которые могут быть запущены параллельно <br>
              <b>maxThreadsTasks</b> - максимальное число задач, которые могут быть запущены параллельно <br>
              <b>onPage</b> - настройки отображаемых на одной странице <br>
              <div class="left-1">
                <b>newsMainList</b> - новостей (главная страница) <br>
                <b>newsList</b> - новостей,(страница новостей) <br>
                <b>tasksList</b> - задач (список задач) <br>
                <b>lessonsList</b> - уроков (список уроков) <br>
                <b>tournamentsList</b> - турниров (список турниров) <br>
                <b>studentsList</b> - учеников (список учеников, страницы результатов урока и турнира) <br>
                <b>attemptsList</b> - попыток (страница аккаунта) <br>
              </div>
              <b>mongodbConfigs</b> - список настроек базы данных <br>
              <div class="left-1">
                <b>dbName</b> - название базы данных в которой будут хранится все данные сайта <br>
                <b>Host</b> - url на котором размещена база данных(default: localhost:27017) <br>
                <b>User</b> - параметры пользователя с правами чтения и изменения данных (пустые, если права доступа не ограничены) <br>
                <div class="left-1">
                  <b>Username</b> - имя пользователя <br>
                  <b>Password</b> - пароль пользователя <br>
                </div>
                <b>CollectionNames</b> - названия коллекций в базе данных <br>
                <div class="left-1">
                  <b>users</b> - коллекция пользователей <br>
                  <b>news</b> - коллекция новостей <br>
                  <b>tasks</b> - коллекция задач <br>
                  <b>lessons</b> - коллекция уроков (обычных) <br>
                  <b>tournaments</b> - коллекция турниров <br>
                  <b>quizzes</b> - коллекция контрольных уроков <br>
                </div>
              </div>
              <b>admins</b> - список пользователей, которые будут иметь доступ к этой панели (логины указывать через запятую) <br>
            </div>
            <h2 class="h2" class="anchor" id="EditUser">Редактор пользователя</h2>
            <div class="left-1">
              <h3 class="h3">Настройка пользователя</h3>
              <div class="left-1">
                Позволяет редактировать или удалить конкретного пользователя <br>
                Отредактировать можно: Ф.И.О., пароль и класс, а так же очистить посылки <br>
              </div>
              <h3 class="h3">Добавление одного учителя</h3>
              <div class="left-1">
                Позволяет добавить одного учителя указав уникальный логин, и менее уникальные Ф.И.О. и пароль <br>
                В случае если логин занят пользователь не будет добавлен, но сообщение об этом ждать не стоит :) <br>
                В случае если учитель был добавлен так же не будет никакого сообщения :( <br>
              </div>
            </div>
            <h2 class="h2" class="anchor" id="Scripts">Скрипты</h2>
            <div class="left-1">
              <h3 class="h3">Добавить учеников</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учеников с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль | Класс. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Добавить учителей</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учителей с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль. <br>
                Что бы ни было в первой строке таблицы оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Удалить пользователей</h3>
              <div class="left-1">
                Позволяет удалить произвольное кол-во пользователей(и учеников и учителей) с помощью .xlsx таблицы с единственным столбцом логинов. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Авто-настройка чекеров</h3>
              <div class="left-1">
                Конфигурирует оффсет чекеров для каждого языка программирования. <br>
                Выполнение этого скрипта займёт некоторое время и может потребовать повышенной производительности. <br>
              </div>
              <h3 class="h3">Сгенерировать результаты турнира</h3>
              <div class="left-1">
                Позволяет сгенерировать таблицу результатов конкретного турнира (на случай если таблицы сгенерированной автоматически не достаточно). <br>
                Требуется указать ID турнира; Для получения точного ID следует взглянуть на url ведущему на страницу турнира ".../tournament/page/LOGIN/<b>ID</b>"/ <br>
              </div>
            </div>
            <h2 class="h2" class="anchor" id="Processes">Процессы</h2>
            <div class="left-1">
              На этой странице отображаются очередь тестирования и тестируемые в данный момент посылки.
            </div>
          </div>
          <h1 class="h1"  class="anchor" id="Structure">Структура проекта</h1>
          <div class="left-1">
            <h2 class="h2"class="anchor" id="Root">Корневая папка</h2>
            <div class="left-1">
              <p>Корневая папка содержит файлы: server.js, package.json, package-lock.json; и папки: classes, config, public, views, node_modules
                 (если отсутствует то появится после выполнения команды <z>npm i</z> в ходе установки).</p>
              <h3 class="h3">Файл server.js</h3>
              <p>Содержит основной серверный код</p>
              <h3 class="h3">Файл package.json</h3>
              <p>Содержит основную информацию о проекте и скрипты (необходим для nodejs)</p>
              <h3 class="h3">Файл package-lock.json</h3>
              <p>Файл создаваемый nodejs, отражает структуру проекта с точки зрения зависимостей</p>
              <h3 class="h3">Папка classes</h3>
              <p>Содержит класс User (класс который отображает пользователя программно)</p>
              <h3 class="h3">Папка config</h3>
              <p>Папка в которой хранятся настройки сервера и модели базы данных</p>
              <h3 class="h3">Папка public</h3>
              <p>Содержит временные папки, компиляторы, изображения и серверные скрипты, будет описана отдельно ниже</p>
              <h3 class="h3">Папка views</h3>
              <p>Содержит описания страниц на сайте</p>
              <h3 class="h3">Папка node_modules</h3>
              <p>Папка создаваемая nodejs, хранящая зависимости проекта</p>
            </div>
            <h2 class="h2"  class="anchor" id="Public">Папка public</h2>
            <div class="left-1">
              <h3 class="h3">Папка checker</h3>
              <p>Содержит в себе компиляторы, интерпретаторы и скрипты отвечающие за их запуск</p>
              <h3 class="h3">Папка codes</h3>
              <p>Папка в которую временно сохраняются файлы программ загруженные пользователем</p>
              <h3 class="h3">Папка css</h3>
              <p>В этой папке лежат css файлы которые отвечают за стили страниц</p>
              <h3 class="h3">Папка logs</h3>
              <p>Содержит логи сервера (в основном запросы учителей)</p>
              <h3 class="h3">Папка media</h3>
              <p>Содержит изображения используемые на страницах и в боковой панели</p>
              <h3 class="h3">Папка processes</h3>
              <p>При отправке пользователем задачи именно в этой папке происходят все процессы связанные с компиляцией и тестированием задачи.</p>
              <p>В случае если задача у пользователя не отправляется следует в первую очередь проверять эту папку на наличие папки с названием *_LOGIN_TASKID , где LOGIN - логин пользователя, а TASKID - идентификатор задачи, и в случае наличия таковой её следует удалить</p>
              <h3 class="h3">Папка scripts</h3>
              <p>В этой папке хранятся все подпрограммы необходимые серверу. Их использование будет описано ниже</p>
              <h3 class="h3">Папка tables</h3>
              <p>В эту папку будут автоматически сохраняться таблицы с результатами турниров после завершения последних</p>
              <h3 class="h3">Папка tests</h3>
              <p>В этой папке хранятся папки и файлы с тестами отправленные учителями, через некоторое время после создания они будут удалены</p>
              <h3 class="h3">Папка userTables</h3>
              <p>В этой папке временно хранятся таблицы с пользователями загруженные через панель управления</p>
            </div>
          </div>

          <h1 class="h1"  class="anchor" id="Subprograms">Системные подпрограммы</h1>
          <div style="line-height: 1.6rem;">
            Если случилось так, что определённый скрипт, запускаемый из Панели управления, работает некорректно, то самое время
            брать дело в свои руки и со всех ног мчаться в папку <z>public/scripts/</z> и запускать скрипты вручную, прямо как хакер из фильмов 80х.
            Ниже представлен перечень папок и скриптов, с описание и, если таковое имеется, соответствием со скриптами из Панели управления.
            Все скрипты запускаются из их папки командой <z>node *ИмяСкриптаСРасширением* *ПараметрыЧерезПробел* </z>, например <z>node FixAfterDeleteLesson.js 1*</z>.
            Подчеркнём, что скрипты из этой папки вы запускаете на свой страх и риск и шанс того, что всё рухнет, как СССР в 91, очень высок.
          </div>
          <div class="left-1">
            <h2 class="h2">archived</h2>
            <p>Старые и неактуальные скрипты. Лучше не использовать самостоятельно, без консультации разработчиков</p>
            <h2 class="h2">CheckCompilers</h2>
            <p>Вызов <z>node Checker.js</z> эквивалентен вызову <z>npm run configurate</z> из корня проекта</p>
            <h2 class="h2">crypt</h2>
            <p>Ради всего святого, не трогайте эту папку</p>
            <h2 class="h2">fixes</h2>
            <p>Содержит скрипты, автоматически выполняемые после определённых действий (преимущественно удалений)</p>
            <div class="left-1">
              <p>Следующие скрипты имеют, мягко говоря, говорящие названия. Так что мы приведём только список принимаемых аргументов.
                ID можно узнать из командной строки, выше есть подробный пример с турнирами при генерации таблицы результатов.
                Напоминаем, что скрипты выполняются АВТОМАТИЧЕСКИ и запускать их вручную, кроме нескольких ситуаций, НЕ НАДО!
              </p>
              <h3 class="h3">FixAfterDeleteLesson.js</h3>
              <p>Принимает ID урока </p>
              <h3 class="h3">FixAfterDeleteQuiz.js</h3>
              <p>Принимает ID контрольного урока </p>
              <h3 class="h3">FixAfterDeleteQuizTask.js</h3>
              <p>Принимает ID контрольного урока и задачи в нём</p>
              <h3 class="h3">FixAfterDeleteTask.js</h3>
              <p>Принимает ID задачи из списка задач</p>
              <h3 class="h3">FixAfterDeleteTournament.js</h3>
              <p>Принимает ID турнира</p>
              <h3 class="h3">FixAfterDeleteTournamentTask.js</h3>
              <p>Вам правда не понятно, что он принимает?</p>
              <h3 class="h3">FixAfterDeleteUser.js</h3>
              <p>Принимает логин пользователя и флаг: 1 - удаляет пользователя, 0 - чистит его посылки</p>
            </div>
            <h2 class="h2">LogChecker</h2>
            <p>Содержит скрипт, выполняющий периодическое удаление логов (запущен по умолчанию при старте сервера)</p>
            <h2 class="h2">random</h2>
            <p>Одна из трёх вещей, наравне с Армией и Флотом, на которых держится Россия</p>
            <h2 class="h2">repairDB</h2>
            <p>Содержит актуальные скрипты для актуализации базы данных. Содержимое папки может меняться. Если она не пуста, свяжитесь с разработчиками для консультации.</p>
            <h2 class="h2">serverScripts</h2>
            <p>Содержит скрипты, Обеспечивающие работу "подкапотной" части системы</p>
            <div class="left-1">
              <h3 class="h3">addAdmin.js</h3>
              <p> Эквивалентен команде <z>npm run addAdmin</z> </p>
              <h3 class="h3">generateExcelTable.js</h3>
              <p> Эквивалентен вызову скрипта "Сгенерировать таблицу результатов турнира" из Панели управления.
                Принимает на вход ID турнира.
                Автоматически запускается по завершении турнира. Все таблиц находятся в public/tables.
              </p>
              <h3 class="h3">Qchecker.js</h3>
              <p>Отвечает за работу таймеров контрольных уроков. Запущен по умолчанию при старте сервера.</p>
              <h3 class="h3">TaskAutoChecker.js</h3>
              <p>Отвечает за тестирование задач. Запущен по умолчанию при старте сервера.</p>
              <h3 class="h3">Tchecker.js</h3>
              <p>Отвечает за работу турнирных таймеров. Запущен по умолчанию при старте сервера.</p>
            </div>
            <h2 class="h2">temporary</h2>
            <p>.bat скрипты, созданные в целях отладки с говорящими названиями</p>
            <h2 class="h2">users</h2>
            <p>Скрипты, отвечающие за работу с пользователями</p>
            <div class="left-1">
              <h3 class="h3">addTeacher.js</h3>
              <p> Эквивалентен скрипту "Добавить учителей" из Панели управления. Принимает на вход путь к .xlsx таблице в указанном выше формате.</p>
              <h3 class="h3">addUser.js</h3>
              <p> Эквивалентен скрипту "Добавить учеников" из Панели управления. Принимает на вход путь к .xlsx таблице в указанном выше формате.</p>
              <h3 class="h3">delUser.js</h3>
              <p> Эквивалентен скрипту "Удалить пользователей" из Панели управления. Принимает на вход путь к .xlsx таблице в указанном выше формате.</p>
          </div>

          <h1 class="h1" class="anchor" id="FAQ">FAQ</h1>
          <div class="left-1">
            <h2 class="h2">MongoDB не запускается после установки, что делать?</h2>
            <p>Попробуйте установить заново от имени администратора. Так же перезагрузка компьютера может решить проблему.</p>
            <h2 class="h2">Команда "npm install"не работает, что делать?</h2>
            <p>Скорее всего, у вас отключен обмен пакетами с сетью, что блокирует скачивание необходимых компонентов.</p>
            <h2 class="h2">Сервер не запускается, что делать?</h2>
            <p>Прочитайте ошибку в консоли: скорее всего, вы где-то ошиблись с путём. Можете написать разработчикам с приложением скриншота ошибки</p>
            <h2 class="h2">Ошибка при компиляции кода, что делать?</h2>
            <p>Попробуйте скачать компилятор с официального сайта и переустановить его.</p>
            <h2 class="h2">Ошибки с отображением данных учеников/учителей, что делать?</h2>
            <p>Проверьте, что логины в таблице уникальны и не содержат пробелов и кириллицы.</p>
          </div>
          <h1 class="h1"  class="anchor" id="References">Полезные ссылки</h1>
          <div class="left-1">
            <ul>
              <li><a href="https://nodejs.org/docs/latest-v13.x/api/">Документация MongoDB</a></li>
              <li><a href="https://docs.npmjs.com/">Документация NPM</a></li>
              <li><a href="https://merrick-krg.medium.com/%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B9-%D1%82%D1%83%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB-%D0%BF%D0%BE-mongodb-ae82654387d9">Статья о работе с MongoDB</a></li>
            </ul>
          </div>
        </main>
    </body>

    <script>

      function clearClasses() {
        let a = document.getElementsByClassName("current-link");
        for(let i = 0; i < a.length; i++){
          a[i].classList.remove("current-link");
        }
      }

      function selectLink(address) {
        clearClasses();
        address.classList.add("current-link");
      }

      let links = document.getElementsByClassName("navbar");
      for(let i = 0; i < links.length; i++){
        links[i].addEventListener("click", () => selectLink(links[i]));
      }
    </script>
</html>