<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
      </head>
      <style>
        .left-1{
          padding-left: 1rem;
        }
        main{
          margin-bottom: 5rem;
        }
      </style>
    <body>
        <main>
          <h1 class="h1">Быстрый старт</h1>

          <li>
            <lo>11</lo>
          </li>

          <h1 class="h1">Руководство администратора</h1>
          <div class="left-1">
            <h2 class="h2">Конфигурация</h2>
            <div class="left-1">
              <b>sessionLiveTime</b> - промежуток времени(в минутах) после которого пользователь будет разлогинен <br>
              <b>logsLifeTime</b> - промежуток времени(в днях) после которого будут автоматически удаляться логи (public/logs) <br>
              <b>port</b> - порт на котором будет работать сервер <br>
              <b>secret</b> - набор символов для кодирования информации <br>
              <b>FolderLifeTime</b> - время жизни процесса при достижении которого папка будет автоматически удалена <br>
              <b>maxThreadsTests</b> - максимальное число тестов, которые могут быть запущены параллельно <br>
              <b>maxThreadsTasks</b> - максимальное число задач, которые могут быть запущены параллельно <br>
              <b>onPage</b> - настройки отображаемых на одной странице <br>
              <div class="left-1">
                <b>newsMainList</b> - новостей (главная старница) <br>
                <b>newsList</b> - новостей,(страница новостей) <br>
                <b>tasksList</b> - задач (список задач) <br>
                <b>lessonsList</b> - уроков (список уроков) <br>
                <b>tournamentsList</b> - турниров (список турниров) <br>
                <b>studentsList</b> - учеников (список учеников, страницы результатов урока и турнира) <br>
                <b>attemptsList</b> - попыток (страница аккаунта) <br>
              </div>
              <b>mongodbConfigs</b> - список настроек базы данных <br>
              <div class="left-1">
                <b>dbName</b> - название базы данных в которой будут хранится все данные сайта <br>
                <b>Host</b> - url на котором размещена база данных(default: localhost:27017) <br>
                <b>User</b> - параметры пользователя с правами чтения и изменения данных (пустые, если права доступа не ограничены) <br>
                <div class="left-1">
                  <b>Username</b> - имя пользователя <br>
                  <b>Password</b> - пароль пользователя <br>
                </div>
                <b>CollectionNames</b> - названия коллекций в базе данных <br>
                <div class="left-1">
                  <b>users</b> - коллекция пользователей <br>
                  <b>news</b> - коллекция новостей <br>
                  <b>tasks</b> - коллекция задач <br>
                  <b>lessons</b> - коллекция уроков (обычных) <br>
                  <b>tournaments</b> - коллекция турниров <br>
                  <b>quizzes</b> - коллекция контрольных уроков <br>
                </div>
              </div>
              <b>admins</b> - список пользователей, которые будут иметь доступ к этой панели (логины указывать через запятую) <br>
            </div>
            <h2 class="h2">Редактор пользователя</h2>
            <div class="left-1">
              <h3 class="h3">Настройка пользователя</h3>
              <div class="left-1">
                Позволяет редактировать или удалить конкретного пользователя <br>
                Отредактировать можно: Ф.И.О., пароль и класс, а так же очистить посылки <br>
              </div>
              <h3 class="h3">Добавление одного учителя</h3>
              <div class="left-1">
                Позволяет добавить одного учителя указав уникальный логин, и менее уникальные Ф.И.О. и пароль <br>
                В случае если логин занят пользователь не будет добавлен, но сообщение об этом ждать не стоит :) <br>
                В случае если учитель был добавлен так же не будет никакого сообщения :( <br>
              </div>
            </div>
            <h2 class="h2">Скрипты</h2>
            <div class="left-1">
              <h3 class="h3">Добавить учеников</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учеников с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль | Класс. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Добавить учителей</h3>
              <div class="left-1">
                Позволяет добавить произвольное кол-во учителей с помощью .xlsx таблицы со столбцами: Логин | Ф.И.О. | Пароль. <br>
                Что бы ни было в первой строке таблицы оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Удалить пользователей</h3>
              <div class="left-1">
                Позволяет удалить произвольное кол-во пользователей(и учеников и учителей) с помощью .xlsx таблицы с единственным столбцом логинов. <br>
                Что бы ни было в первой строке таблицы, оно будет проигнорированно. <br>
              </div>
              <h3 class="h3">Авто-настройка чекеров</h3>
              <div class="left-1">
                Конфигурирует оффсет чекеров для каждого языка программирования. <br>
                Выполнение этого скрипта займёт некоторое время и может потребовать повышенной производительности. <br>
              </div>
              <h3 class="h3">Сгенерировать результаты турнира</h3>
              <div class="left-1">
                Позволяет сгенерировать таблицу результатов конкретного турнира (на случай если таблицы сгенерированной автоматически не достаточно). <br>
                Требуется указать ID турнира; Для получения точного ID следует взглянуть на url ведущему на страницу турнира ".../tournament/page/LOGIN/<b>ID</b>"/ <br>
              </div>
            </div>
            <h2 class="h2">Процессы</h2>
            <div class="left-1">
              На этой странице отображаются очередь тестирования и тестируемые в данный момент посылки.
            </div>
          </div>
        </main>
    </body>
</html>