<header>
<a href="http://vplicei.org/"><img src = "http://vplicei.org/wp-content/uploads/2016/01/vml-1.png" alt="ВМЛ"></a>
<div class="navigationButtons">
<% if (name!=""){ %>
<% if (title!="Main Page"){ %>
<button onClick='location.href="/"'>to main</button>
<% }if (title.slice(0, 4)!="Task"){  %> 
<button onClick='location.href="/task/0"'>to task</button>
<% }if (isTeacher){ %>
    <% if (title!="Add Task"){ %>
    <button onClick='location.href="/addtask"'>to task adder</button>
<% }}} %>
</div>
<div class = 'loginInterface'>
<% if (name==""){ %>
<form action="/" method="POST" class = "loging">
    <input type="login" name="login" placeholder="Login" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Log In</button>
</form>
<% } else { %>
    <a href = '/account' class = 'userName'><%= name %></a>
    <form action = '/logout?_method=DELETE' method = 'POST'>
        <button type = 'submit'>Log Out</button>
    </form>
<% } %>
</div>

</header>