<header>
<a href="http://vplicei.org/"><img src = "http://vplicei.org/wp-content/uploads/2016/01/vml-1.png" alt="ВМЛ"></a>
<div class="navigationButtons">
<% if (name!=""){ %>
    <% if (title!="Main Page"){ %>
    <button onClick='location.href="/"'>Главная</button>
    <% }if (title.slice(0,5)!="Tasks"){  %> 
    <button onClick='location.href="/tasks/1/default&all&all"'>Задачи</button>
    <% }if (title.slice(0,7)!="Lessons" || !u_login || login!=u_login){  %> 
        <button onClick=<%= 'location.href=\"/lessons/'+ login + "/1/default&all&all" + "\"" %>> Уроки</button>
    <% }if (isTeacher){ %>
        <% if (title!="Students List"){ %>
            <button onClick='location.href="/students/1/default&all&all"'>Ученики</button>
        <% } %>
        <% if (title!="Add Task"){ %>
        <button onClick='location.href="/addtask"'>Добавить задачу</button>
        <% } %>
        <% if (title!="Add Lesson"){ %>
            <button onClick='location.href="/addlesson"'>Добавить урок</button>
        <% } %>
    <% } %>
<% } %>
</div>
<div class = 'loginInterface'>
<% if (name==""){ %>
<form action="/" method="POST">
    <input type="login" name="login" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
<% } else { %>
    <a href = <%= '/account/'+ login +'/1/default&all' %> class = 'userName'><%= name %></a>
    <form action = '/logout?_method=DELETE' method = 'POST'>
        <button type = 'submit'>Выйти</button>
    </form>
<% } %>
</div>

</header>