<style>
  sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(252, 248, 240);
    height: 5rem;
  }
  .buttons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .buttons a{
    text-decoration: none;
    outline: none;
    font-size: 1.3rem;
    color: black;
    transition: .5s;
  }
  .buttons a:hover{
    font-size: 1.4rem;
    color: dodgerblue;
    border: 5px solid rgba(71, 163, 255, 0.705);
    background-color: rgba(71, 163, 255, 0.027);;
    padding: 18px;
    border-radius: 5px;
  }
</style>
<sidebar>
  <div class="buttons">
    <a href="/">На главную</a>
    <a href="/service/panel/CONFIGS">Конфиги</a>
    <a href="/service/panel/USER/default">Редактор пользователя</a>
    <a href="/service/panel/SCRIPTS">Скрипты</a>
    <a href="/service/panel/PROCESSES">Процессы</a>
  </div>
</sidebar>