<!DOCTYPE html>
<html>
    <head>
        <title>Добавить контрольный урок</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>
        <h1 class="h1">Добавление контрольного урока </h1>
        <form action='/quiz/add'  method="POST">
            <div class="lessonAdderForm">
                <h3 class="h3">Название урока</h3>
                <textarea id="title" name = "title" required placeholder="Введите название"></textarea>
                <h3 class="h3">Описание</h3>
                <textarea id="description" name = "description" placeholder="Введите описание"></textarea>
                <h3 class="h3">Продолжительность (мин.)</h3>
                <input type="number" id="duration" name="duration" value="40" required>
                <button id="submit">Добавить урок</button>
            </div>
        </form>
    </main>
    </body>
</html>